.visualTextBox {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  /* animation: Intext 2s; */
  opacity: 1;
}
.bg {
  background: #000;
}
.visible {
  visibility: visible !important;
}
.rotateCircle {
  animation: rotateCircle 36s infinite linear 3;
}

/* anima */
@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(365deg);
  }
}

@keyframes Intext {
  from {
    top: 55%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

@keyframes Outtext {
  from {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 1;
  }
  to {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
}
