.bg {
  background: #000;
}
.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: none;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background: #070707;
  border-radius: 20px;
}

.parallaxBox {
  position: relative;
  & .parallaxRock1 {
    position: absolute;
    top: -30%;
    right: 20%;
  }
  & .parallaxRock2 {
    position: absolute;
    top: -10%;
    left: 20%;
  }
  & .parallaxRock3 {
    position: absolute;
    top: -10%;
    right: 10%;
  }
  & .parallaxRock4 {
    position: absolute;
    top: -20%;
    left: 40%;
  }
  & .parallaxRock5 {
    position: absolute;
    top: -10%;
    left: 10%;
  }
}
